*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
.container{
    border: 2px solid red;
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;

}
.item{
    width: 92px;
    height: 92px;
    background-color:blueviolet;
    border: 2px solid black;
    margin: 2px;
}